# API Secrets and local config
.env
.env.local
service-account.json
application_default_credentials.json

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
ENV/
.venv/

# Local Data Storage (Ignore databases and indexes)
data/uploads/*
data/chroma_db/*
data/vector_db/*
*.db
*.sqlite
*.bin
*.sqlite3


# OS and IDEs
.vscode/
.idea/
.DS_Store
Thumbs.db

# Large Project Documents
*.docx
*.pdf
*.pptx
*.csv

GEMINI.md